@charset "UTF-8";

body {
  background-color: rgb(255,241,241);
}
@media screen and (max-width: 480px) {
body {
  background-color: rgb(255,241,241);
}
}

header {
  height: auto;
  font-family: serif;
  color: rgb(255,241,241);
}
@media screen and (max-width: 480px) {
header{
  font-family: serif;
  color: rgb(255,241,241);
}
}

footer{
  margin: 0;
}
@media screen and (max-width: 480px) {
footer{
  margin: 0;
}
}

.pc { display: block !important; }
.sp { display: none !important; }
@media only screen and (max-width: 750px) {
    .pc { display: none !important; }
    .sp { display: block !important; }
}

.site-header {
  top: 0;
  z-index: 5;
  background-color: rgb(255,241,241);
  width: 100%;
  padding-bottom: 5px;
  position: fixed;
} 
@media screen and (max-width: 480px) {
.site-header {
  top: 0;
  z-index: 5;
  height: 104px;
  background-color: rgb(255,241,241);
  width: 100%;
  position: fixed;
}
}

.site-header img {
  margin: 0 auto;
  width: 23%;
}
@media screen and (max-width: 480px) {
.site-header img {
  margin: 0 auto;
  width: 45%;
  text-align: center;
}
}

.menu {
  font-size: 0.75em;
  color:rgb(155,34,70);
  text-align: center;
  text-decoration: none;
}
a.menubt {
  font-size: 1.25em;
  height: 50px;
  text-decoration: none;
  color:rgb(155,34,70);
  padding-left: 30px;
  padding-right: 30px;
  background: transparent;
  text-align: center;
  transition: all  0.5s ease; 
  font-family: serif; 
}
a.menubt:hover{
  font-size: 1.25em;
  text-decoration: none;
  color: rgb(255,104,172);
  padding-left: 30px;
  padding-right: 30px;
  background: transparent;
  text-align: center;
  font-family: serif;
}
@media screen and (max-width: 480px) {
.menu {
  color:rgb(155,34,70);
  text-align: center;
  text-decoration: none;
}
a.menubt {
  font-size: 10px;
  text-decoration: none;
  color: rgb(155,34,70);
  padding-left: 2px;
  padding-right: 8px;
  background: transparent;
  text-align: center;
  transition: all  0.5s ease;  
  font-family: serif;
}
a.menubt:hover{
  font-size: 10px;
  text-decoration: none;
  color: rgb(255,104,172);
  padding-left: 2px;
  padding-right: 8px;
  background: transparent;
  text-align: center;
  font-family: serif;
}
}

.fadeIn{
  animation-name:fadeInAnime;
  animation-duration:5.5s;
  animation-fill-mode:forwards;
  opacity:0;
}

@keyframes fadeInAnime{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.box{
  z-index: 4;
  position:relative;
}
@media screen and (max-width: 480px) {
.box{
  z-index: 4;
  position:relative;
}
}

.box img {
  top: 0;
  width: 100%;
}
@media screen and (max-width: 480px) {
.box img {
  top: 0;
  width: 100%;
}
}

.box p {
  width: 100%;
  font-family:serif;
  font-size: 1.25em;
  color: rgb(77,54,30);
  letter-spacing: 0.25em;
  text-align: center;
  position:absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%,-50%);
}
@media screen and (max-width: 480px) {
.box p {
  width: 100%;
  font-family:serif;
  font-size: 15px;
  letter-spacing: 0.1em;
  text-align: center;
  color: rgb(77,54,30);
  position:absolute;
  top: 41%;
  left: 50%;
  transform: translate(-50%,-50%);
}
}
.box2{
  z-index: 4;
  position:relative;
}
@media screen and (max-width: 480px) {
.box2{
  z-index: 4;
  position:relative;
}
}

.box2 img {
  top: 0;
  width: 100%;
}
@media screen and (max-width: 480px) {
.box2 img {
  top: 0;
  width: 100%;
}
}

.box2 p {
  width: 100%;
  padding-top: 6em;
  font-family:serif;
  font-size: 1em;
  color: rgb(64,34,15);
  letter-spacing: 0.25em;
  line-height: 2em;
  text-align: center;
  position:absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%,-50%);
}
@media screen and (max-width: 480px) {
.box2 p {
  width: 100%;
  font-family:serif;
  font-size: 0.5em;
  letter-spacing: 0.1em;
  padding-top: 7em;
  text-align: center;
  color: rgb(64,34,15);
  position:absolute;
  top: 41%;
  left: 50%;
  transform: translate(-50%,-50%);
}
}
.box3{
  z-index: 4;
  position:relative;
}
@media screen and (max-width: 480px) {
.box3{
  z-index: 4;
  position:relative;
}
}

.box3 img {
  top: 0;
  width: 100%;
}
@media screen and (max-width: 480px) {
.box3 img {
  top: 0;
  width: 100%;
}
}

.box3 p {
  width: 100%;
  font-family:serif;
  font-size: 1.5em;
  color: rgb(255,255,255);
  text-align: center;
  position:absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%,-50%);
}
@media screen and (max-width: 480px) {
.box3 p {
  width: 100%;
  font-family:serif;
  font-size: 1em;
  text-align: center;
  color: rgb(255,255,255);
  position:absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%,-50%);
}
}

.content1{
  padding-top: 140px;
  font-family: serif;
}
@media screen and (max-width: 480px) {
.content1{
  padding-top: 85px;
  font-family: serif;
}
}

.content2{
  background-color: rgb(255,241,241);
  font-family: serif;
}
@media screen and (max-width: 480px) {
.content2{
  font-family: serif;
}
}
.content3{
  background-color: rgb(255,241,241);
  padding: 10px 90px;   
  display: flex;         /* 中身を横並びにする */
  justify-content: center; /* 全体を中央に寄せる（左右中央） */
  align-items: center;     /* 画像と文字の高さを揃える（上下中央） */
  gap: 10px;           
}
@media screen and (max-width: 480px) {
.content3{
  background-color: rgb(255,241,241);
  padding: 10px 30px;
  text-align: center;   
  display: flex;         /* 中身を横並びにする */
  justify-content: center; /* 全体を中央に寄せる（左右中央） */
  align-items: center;     /* 画像と文字の高さを揃える（上下中央） */
  gap: 0px;             
}
}
.content3 img {
  width: 100%;
}
@media screen and (max-width: 480px) {
.content3 img{
  width: 100%;
}
}
.content3 p {
  font-family:serif;
  font-size: 0.8em;
  color: rgb(64,34,15);
  letter-spacing: 0.25em;
  line-height: 2em;
}
@media screen and (max-width: 480px) {
.content3 p {
  font-family: serif;
  font-size: 0.4em;
  letter-spacing: 0.1em;
  color: rgb(64,34,15);
}
}

.menu2 {
  display: flex;
  gap: 10px 70px;
  padding: 100px;
  justify-content: space-around;
}
@media screen and (max-width: 480px) {
.menu2 {
  display: flex;
  gap: 10px 2px;
  padding: 10px 1px;
  justify-content: space-around;
}
}
.menubox {
  justify-content: space-around;
  filter: drop-shadow(-8px 8px 6px rgba(160, 160, 160, 0.6));
  position: relative;
}
@media screen and (max-width: 480px) {
.menubox {
  justify-content: space-around;
  filter: drop-shadow(-5px 5px 6px rgba(160, 160, 160, 0.6));
  position: relative;
}
}
.menubox img {
  top: 0;
  width: 250px;
}
@media screen and (max-width: 480px) {
.menubox img {
  top: 0;
  width: 100px;
}
}
.menubox p {
  width: 100%;
  font-family:serif;
  font-size: 1em;
  color: rgb(255,255,255);
  text-align: center;
  position:absolute;
  top: 89%;
  left: 50%;
  transform: translate(-50%,-50%);
}
@media screen and (max-width: 480px) {
.menubox p {
  width: 100%;
  font-family:serif;
  font-size: 17px;
  text-align: center;
  color: rgb(255,255,255);
  position:absolute;
  top: 89%;
  left: 50%;
  transform: translate(-50%,-50%);
}
}

.content4{
  padding-top: 50px;
}
@media screen and (max-width: 480px) {
.content4{
  padding-top: 30px;
}
}
.content4 img {
  width: 100%;
}

.content5{
  background-color: rgb(255,241,241);
  padding: 20px;
  display: flex;
  justify-content: center;
  font-family: serif;
}
.content5 p {
  display: flex;
  justify-content: center;
  padding: 10px;
  color: rgb(155,34,70);
  font-size: 0.6em;
  font-family: serif;
}
@media screen and (max-width: 480px) {
.content5{
  padding: 20px;
  display: flex;
  justify-content: center;
  font-family: serif;
}
.content5 p {
  display: flex;
  justify-content: center;
  padding: 10px;
  color: rgb(155,34,70);
  font-size: 7px;
  font-family: serif;
}
}

.content6{
  background-color: rgb(255,241,241);
  font-family: serif;
  padding: 10px 280px;
}
@media screen and (max-width: 480px) {
.content6{
  font-family: serif;
  padding: 1px 25px;
}
}
a.content6{
  background-color: rgb(255,241,241);
  font-family:serif;
  font-size: 1.25em;
  margin: 10px 280px;
  color: rgb(64,34,15);
  letter-spacing: 0.25em;
  line-height: 3em;
  text-align: left;
  background: transparent;
  transition: all  0.5s ease; 
}
a.content6:hover{
  background-color: rgb(255,241,241);
  font-family:serif;
  font-size: 1.25em;
  margin: 10px 280px;
  color: rgb(229,78,92);
  letter-spacing: 0.25em;
  line-height: 3em;
  text-align: left;
  background: transparent; 
}
@media screen and (max-width: 480px) {
a.content6{
  font-family:serif;
  font-size: 0.75em;
  letter-spacing: 0.1em;
  margin: 10px 25px;
  color: rgb(64,34,15);
  line-height: 2em;
  text-align: left;
  background: transparent;
  transition: all  0.5s ease; 
}
a.content6 p :hover{
  font-family:serif;
  font-size: 0.75em;
  letter-spacing: 0.1em;
  margin: 10px 25px;
  color: rgb(229,78,92);
  line-height: 2em;
  text-align: left;
  background: transparent;
}
} 

.content7{
  background-color: rgb(255,241,241);
  font-family: serif;
  padding: 0px 120px 20px;
}
@media screen and (max-width: 480px) {
.content7{
  font-family: serif;
  padding: 0px 15px 5px;
}
}
.content7 p {
  background-color: rgb(255,241,241);
  font-family:serif;
  font-size: 1em;
  color: rgb(64,34,15);
  letter-spacing: 0.25em;
  line-height: 3em;
  text-align: left;
}
@media screen and (max-width: 480px) {
.content7 p {
  font-family:serif;
  font-size: 0.5em;
  letter-spacing: 0.1em;
  color: rgb(64,34,15);
  line-height: 3em;
  text-align: left;
}
}
.content8{
  background-color: rgb(255,241,241);
  font-family: serif;
  padding: 10px 120px;
}
@media screen and (max-width: 480px) {
.content8{
  font-family: serif;
  padding: 1px 15px;
}
}
.content8 p {
  background-color: rgb(255,241,241);
  font-family:serif;
  font-size: 1.25em;
  color: rgb(64,34,15);
  letter-spacing: 0.25em;
  line-height: 3em;
  text-align: left;
}
@media screen and (max-width: 480px) {
.content8 p {
  font-family:serif;
  font-size: 0.75em;
  letter-spacing: 0.1em;
  color: rgb(64,34,15);
  line-height: 3em;
  text-align: left;
}
}