@charset "UTF-8";

body {
  margin: 0;
  
}
@media screen and (max-width: 480px) {
body {
  margin: 0;
}
}

header {
  top: 0;
  font-family: serif;
  color: rgb(223,125,139);
}
@media screen and (max-width: 480px) {
header{
  font-family: serif;
  color: rgb(223,125,139);
}
}

footer{
  margin: 0;
  background-color: rgb(229,137,142, 0.7);
}
@media screen and (max-width: 480px) {
footer{
  background-color: rgb(229,137,142, 0.7);
}
}

.pc { display: block !important; }
.sp { display: none !important; }
@media only screen and (max-width: 750px) {
    .pc { display: none !important; }
    .sp { display: block !important; }
}

.site-header {
  top: 0;
  z-index: 5;
  background-color: rgb(255,255,255, 0.5);
  width: 100%;
  padding-bottom: 3px;
  position: fixed;
} 
@media screen and (max-width: 480px) {
.site-header {
  top: 0;
  z-index: 5;
  background-color: rgb(255,255,255, 0.5);
  width: 100%;
  padding-bottom: 3px;
  position: fixed;
}
}

.site-header img {
  margin: 0 auto;
  width: 15%;
}
@media screen and (max-width: 480px) {
.site-header img {
  margin: 0 auto;
  width: 25%;
  text-align: center;
}
}

.menu {
  font-size: 0.75em;
  text-align: center;
  text-decoration: none;
}
a.menubt {
  font-size: 1.5em;
  text-decoration: none;
  color:rgb(223,125,139);
  padding-left: 30px;
  padding-right: 30px;
  background: transparent;
  text-align: center;
  transition: all  0.5s ease; 
  font-family: serif; 
}
a.menubt:hover{
  font-size: 1.5em;
  text-decoration: none;
  color: rgb(223,125,139);
  padding-left: 30px;
  padding-right: 30px;
  background: transparent;
  text-align: center;
  font-family: serif;
}
@media screen and (max-width: 480px) {
.menu {
  text-align: center;
  font-size: 0.75em;
  text-decoration: none;
}
a.menubt {
  font-size: 8px;
  text-decoration: none;
  color: rgb(223,125,139);
  padding-left: 2px;
  padding-right: 8px;
  background: transparent;
  text-align: center;
  transition: all  0.5s ease;  
  font-family: serif;
}
a.menubt:hover{
  font-size: 8px;
  text-decoration: none;
  color: rgb(223,125,139);
  padding-left: 2px;
  padding-right: 8px;
  background: transparent;
  text-align: center;
  font-family: serif;
}
}


.container{
  position:relative;
}

.slide1{
  opacity: 0;
  position: absolute; 
  animation: 12s infinite anime1
} 
.slide2{
  opacity: 0;
  position: absolute;
  animation: 12s infinite anime2;
}  
@keyframes anime1{
  0% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  
}
@keyframes anime2{
  0% {
    opacity: 0;
  }
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.slide1 img {
  width: 50%;  
}
.slide2 img {
  width: 50%;
}  


.content1{
  padding-top: 150px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  font-family: serif;
}
@media screen and (max-width: 480px) {
.content1{
  padding-top: 100px;
  font-family: serif;
}
}

.fadeIn{
  animation-name:fadeInAnime;
  animation-duration:5.5s;
  animation-fill-mode:forwards;
  opacity:0;
}

@keyframes fadeInAnime{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.box{
  z-index: 4;
  padding-top: 130px;
}
@media screen and (max-width: 480px) {
.box{
  z-index: 4;
  padding-top: 80px;
}
}

.box img {
  top: 0;
  width: 100%;
}
@media screen and (max-width: 480px) {
.box img {
  top: 0;
  width: 100%;
}
}


.contentphoto{
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 12%;
  padding-right: 12%;
}
.contentphoto img {
  width: 33.3%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 2%;
  padding-right:2%;
}

.content_menu {
  position:relative;
  padding-top: 100px;
  padding-bottom: 15px;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 0.8em;
  font-family: serif;
}
@media screen and (max-width: 480px) {
.content_menu {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 0.6em;
  font-family: serif;
}
}
.content_menu img {
  width: 10%;
  padding-top: 5px;
  padding-bottom: 5px;
}
@media screen and (max-width: 480px) {
.content_menu img {
  width: 15%;
  padding-top: 5px;
  padding-bottom: 5px;
}
}
.menulist {
  line-height: 20px;
}

@media screen and (max-width: 480px) {
  .menulist {
  font-size: 0.6em;
  line-height: 20px;
}
}

.content4{
}
.content4 img {
  width: 100%;
}

.content5{
  background-color: rgb(255, 255, 255);
  padding: 20px;
  display: flex;
  justify-content: center;
  font-family: serif;
}
.content5 p {
  display: flex;
  justify-content: center;
  padding: 10px;
  color: rgb(229,137,142);
  font-size: 0.6em;
  font-family: serif;
}

